<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
    <div th:fragment="produtos">
        <div class="panel-default well" th:each="produto : ${produtos}">
            <div class="panel-heading">
                <h1 th:text="${produto.nome}"></h1>
            </div>
            <h3 class="panel-body" th:text="${produto.descricao}">Descrição</h3>
            <div class="row panel-footer">
                <div class="col-md-2" th:inline="text">Preço: [[${produto.preco}]]</div>
                <div class="col-md-9" th:inline="text">Em estoque: [[${produto.quantidade}]]</div>
                <a class="col-md-1" th:href="@{'/carrinhoDeCompras/addProduto/{id}' (id=${produto.id})}" sec:authorize="isAuthenticated()" th:if="${produto.quantidade}>0">
                    <button type="button" class="btn btn-primary">Comprar</button>
                </a>
            </div>
            <br></br>
        </div>
    </div>
</body>
</html>