<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <div th:replace="/fragments/header :: header"/>
    </head>  
    <body>
        <div th:replace="/fragments/header :: navbar" />

        <div class="container">
            <h1 class="jumbotron">
                <span sec:authentication="name"></span>Carrinho de Compras
            </h1>

            <div class="alert alert-info" th:if="${mensagemDeFaltaDeEstoque}" th:utext="{mensagemDeFaltaDeEstoque}"></div>

            <div class="panel-default well" th:each="produto : ${produtos.entrySet()}">
                <div class="panel-heading">
                    <h1><a th:text="${produto.getKey().nome}" th:href="@{'/produto/' + ${produto.getKey().id}}">Titulo</a></h1>
                    <h3 th:text="${produto.getKey().descricao}">Descrição</h3>
                </div>    
                <div class="row panel-body">
                    <div class="col-md-2" th:inline="text">Preço: [[${produto.getKey().preco}]]</div>
                    <div class="col-md-9" th:inline="text">Quantidade: [[${produto.getValue()}]]</div>
                    <a class="col-md-1" th:href="@{'/carrinhoDeCompras/removerProduto/{id}' (id=${produto.getKey().id})}">
                        <button type="button" class="btn btn-primary" th:text="Excluir">
                            Remover
                        </button>
                    </a>
                </div>
                <br></br>
            </div>
    
            <div class="row panel-body">
                <h2 class="col-md-11" th:inline="text">Total: [[${total}]]</h2>
                <a class="col-md-1" th:href="@{'/corrinhoDeCompras/verificar'}" >
                    <button type="button" class="btn btn-danger" th:text="Verificar">Confirmar</button>
                </a>
            </div>
        </div>    
        <div th:replace="/fragments/footer :: footer"/>
    </body>
</html>