<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header" />
</head>
<body>
    <div th:replace="/fragments/header :: navbar" />

    <div class="container">
        <!--Mostrar esta mensagem informativa apenas se registrado com sucesso-->
        <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="POST" role="form">
                    <div class="form-group">
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></label>
                        <input type="text" placeholder="Digite o nome" class="form-control input-lg" th:field="*{name}" />
                    </div>

                    <div class="form-group">
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></label>
                        <input type="text" placeholder="Digite o sobrenome" class="form-control input-lg" th:field="*{lastName}" />
                    </div>

                    <div class="form-group">
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('email')}" ></label>
                        <input type="text" placeholder="Digite o email" class="form-control input-lg" th:field="*{email}" />
                    </div>

                    <div class="form-group">
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></label>
                        <input type="password" placeholder="Digite a senha" class="form-control -input-lg" th:field="*{password}" />
                    </div>

                    <div class="form-group">
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                        <input type="text" class="form-control" placeholder="Digite seu usuário" th:field="*{username}" />
                    </div>

                    <div class="row">
                        <div class="col-sm-3" style="float: none; margin: 0 auto;">
                            <input type="submit" class="btn btn-primary btn-block" value="submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"/>
</body>
</html>